#main {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16,5vw);
    gap: 1px;
    
}

.canvasBtn {
    padding: 10px;
}

.grid {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    padding: 5px
}

.grid:hover{
    background-color: black;
}